/* This stylesheet is used to style the public-facing components of the plugin. */
/* line 5, ../sass/public.scss */
.hotspots-interaction {
  margin: 1em 0;
}

/* line 9, ../sass/public.scss */
.hotspots-placeholder {
  padding: 1em;
  position: relative;
}
/* line 12, ../sass/public.scss */
.hotspots-placeholder.loading:before {
  border: 20px solid rgba(255, 255, 255, 0.5);
  border-left-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation-name: spin;
  -webkit-animation-name: spin;
  animation-name: spin;
  -moz-animation-duration: 2000ms;
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  content: '';
  height: 40px;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  top: 20%;
  width: 40px;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* line 45, ../sass/public.scss */
.hotspots-image-container > div {
  margin: 0 auto;
}
/* line 48, ../sass/public.scss */
.hotspots-image-container img {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

/* line 59, ../sass/public.scss */
.entry-content .hotspot-title {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}
/* line 65, ../sass/public.scss */
.entry-content .hotspot-content p {
  color: inherit;
}

/* line 72, ../sass/public.scss */
.hotspot-content p {
  color: inherit;
}

/* line 78, ../sass/public.scss */
.hotspot-thumb {
  text-align: center;
}

@media (min-width: 600px) {
  /* line 83, ../sass/public.scss */
  .left .hotspots-interaction,
  .right .hotspots-interaction {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  /* line 89, ../sass/public.scss */
  .left .hotspots-image-container,
  .right .hotspots-image-container {
    display: table-cell;
    vertical-align: top;
    width: 66%;
  }

  /* line 95, ../sass/public.scss */
  .left .hotspots-placeholder,
  .right .hotspots-placeholder {
    display: table-cell;
    vertical-align: top;
  }
}
@media (min-width: 900px) {
  /* line 103, ../sass/public.scss */
  .left .hotspots-image-container,
  .right .hotspots-image-container {
    width: 75%;
  }
}
/* ------------------------------------------- */
/* Light Box
/* ------------------------------------------- */
/* line 114, ../sass/public.scss */
.lightbox .hotspots-placeholder {
  display: none;
}

/* line 118, ../sass/public.scss */
.featherlight {
  background: #333;
  bottom: 0;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  left: 0;
  white-space: nowrap;
  z-index: 2;
}
/* line 130, ../sass/public.scss */
.featherlight:last-of-type {
  background: rgba(0, 0, 0, 0.8);
}
/* line 133, ../sass/public.scss */
.featherlight:before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -0.25em;
  vertical-align: middle;
}
/* line 140, ../sass/public.scss */
.featherlight .featherlight-content {
  background: #fff;
  border-bottom: 25px solid transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: auto;
  display: inline-block;
  overflow: auto;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 95%;
  max-width: 95%;
  min-height: 3%;
  min-width: 30%;
  padding: 25px 25px 0;
  position: relative;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
}
/* line 159, ../sass/public.scss */
.featherlight .featherlight-inner {
  display: block;
}
/* line 162, ../sass/public.scss */
.featherlight .featherlight-close-icon {
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  cursor: pointer;
  font: Arial, sans-serif;
  line-height: 25px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 25px;
  z-index: 9999;
}
/* line 176, ../sass/public.scss */
.featherlight .featherlight-image {
  width: 100%;
}
/* line 179, ../sass/public.scss */
.featherlight iframe {
  border: none;
}
/* line 182, ../sass/public.scss */
.featherlight .hotspot-title {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}
/* line 187, ../sass/public.scss */
.featherlight .hotspot-content p {
  margin: 1em 0;
}
/* line 191, ../sass/public.scss */
.featherlight img {
  height: auto;
  max-width: 100%;
}

/* line 197, ../sass/public.scss */
.featherlight-iframe .featherlight-content {
  border-bottom: 0;
  padding: 0;
}

@media only screen and (max-width: 1024px) {
  /* line 203, ../sass/public.scss */
  .featherlight .featherlight-content {
    border-bottom: 10px solid transparent;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
    padding: 10px 10px 0;
  }
}
