/* This stylesheet is used to style the public-facing components of the plugin. */
/* line 5, ../sass/public.scss */
.hotspots-interaction {
  margin: 1em 0;
}

/* line 9, ../sass/public.scss */
.hotspots-map area {
  outline: 0 none;
}

/* line 13, ../sass/public.scss */
.hotspots-placeholder {
  padding: 1em;
  position: relative;
}
/* line 16, ../sass/public.scss */
.hotspots-placeholder.loading:before {
  border: 20px solid rgba(255, 255, 255, 0.5);
  border-left-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation-name: spin;
  -webkit-animation-name: spin;
  animation-name: spin;
  -moz-animation-duration: 2000ms;
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  content: '';
  height: 40px;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  top: 20%;
  width: 40px;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* line 48, ../sass/public.scss */
.hotspots-image-container {
  background: #efefef;
}
/* line 50, ../sass/public.scss */
.hotspots-image-container > div {
  margin: 0 auto;
}
/* line 53, ../sass/public.scss */
.hotspots-image-container img {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

/* line 64, ../sass/public.scss */
.entry-content .hotspot-title {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}
/* line 70, ../sass/public.scss */
.entry-content .hotspot-content p {
  color: inherit;
}

/* line 77, ../sass/public.scss */
.hotspot-content p {
  color: inherit;
}

/* line 83, ../sass/public.scss */
.hotspot-thumb {
  text-align: center;
}
/* line 85, ../sass/public.scss */
.hotspot-thumb img {
  height: auto;
  max-width: 100%;
}

@media (min-width: 600px) {
  /* line 92, ../sass/public.scss */
  .left .hotspots-interaction,
  .right .hotspots-interaction {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  /* line 98, ../sass/public.scss */
  .left .hotspots-image-container,
  .right .hotspots-image-container {
    display: table-cell;
    vertical-align: top;
    width: 66%;
  }

  /* line 104, ../sass/public.scss */
  .left .hotspots-placeholder,
  .right .hotspots-placeholder {
    display: table-cell;
    vertical-align: top;
  }
}
@media (min-width: 900px) {
  /* line 112, ../sass/public.scss */
  .left .hotspots-image-container,
  .right .hotspots-image-container {
    width: 75%;
  }
}
/* ------------------------------------------- */
/* Light Box
/* ------------------------------------------- */
/* line 123, ../sass/public.scss */
.lightbox .hotspots-placeholder {
  display: none;
}

/* line 127, ../sass/public.scss */
.featherlight {
  background: #333;
  bottom: 0;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  left: 0;
  white-space: nowrap;
  z-index: 99999;
}
/* line 139, ../sass/public.scss */
.featherlight:last-of-type {
  background: rgba(0, 0, 0, 0.8);
}
/* line 142, ../sass/public.scss */
.featherlight:before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -0.25em;
  vertical-align: middle;
}
/* line 149, ../sass/public.scss */
.featherlight .featherlight-content {
  background: #fff;
  border-bottom: 25px solid transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: auto;
  display: inline-block;
  overflow: auto;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 95%;
  max-width: 95%;
  min-height: 3%;
  min-width: 30%;
  padding: 25px 25px 0;
  position: relative;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
}
/* line 168, ../sass/public.scss */
.featherlight .featherlight-inner {
  display: block;
}
/* line 171, ../sass/public.scss */
.featherlight .featherlight-close-icon {
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  cursor: pointer;
  font: Arial, sans-serif;
  line-height: 25px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 25px;
  z-index: 9999;
}
/* line 185, ../sass/public.scss */
.featherlight .featherlight-image {
  width: 100%;
}
/* line 188, ../sass/public.scss */
.featherlight iframe {
  border: none;
}
/* line 191, ../sass/public.scss */
.featherlight h2.hotspot-title {
  font-size: 1.2em;
  margin: 0 0 0.4em 0;
  padding: 0;
}
/* line 197, ../sass/public.scss */
.featherlight .hotspot-content p {
  font-size: 1em;
  margin: 1em 0;
}
/* line 202, ../sass/public.scss */
.featherlight img {
  height: auto;
  max-width: 100%;
}

/* line 208, ../sass/public.scss */
.featherlight-iframe .featherlight-content {
  border-bottom: 0;
  padding: 0;
}

@media only screen and (max-width: 1024px) {
  /* line 214, ../sass/public.scss */
  .featherlight .featherlight-content {
    border-bottom: 10px solid transparent;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
    padding: 10px 10px 0;
  }
}
/* ------------------------------------------- */
/* Tooltip
/* ------------------------------------------- */
/* line 227, ../sass/public.scss */
.tooltip .hotspots-placeholder {
  display: none;
}

/* line 231, ../sass/public.scss */
.qtip {
  box-shadow: none;
  direction: ltr;
  display: none;
  left: -28000px;
  max-width: 280px;
  min-width: 50px;
  padding: 0;
  position: absolute;
  top: -28000px;
}

/* line 243, ../sass/public.scss */
.qtip-content {
  overflow: hidden;
  padding: 0.5em 0.75em;
  position: relative;
  text-align: left;
  word-wrap: break-word;
}
/* line 249, ../sass/public.scss */
.qtip-content h2.hotspot-title {
  font-size: 1.2em;
  margin: 0 0 0.4em 0;
  padding: 0;
  text-align: center;
}
/* line 256, ../sass/public.scss */
.qtip-content .hotspot-content p {
  font-size: 1em;
  margin: 1em 0;
}
/* line 260, ../sass/public.scss */
.qtip-content .hotspot-content img {
  height: auto;
  max-width: 100%;
}

/* Default tooltip style */
/* line 268, ../sass/public.scss */
.qtip-default {
  background-color: #FFFFA3;
  border: 0 none;
  color: #555;
}

/* line 274, ../sass/public.scss */
.qtip .qtip-tip {
  margin: 0 auto;
  overflow: hidden;
  z-index: 10;
}

/* Opera bug #357 - Incorrect tip position
https://github.com/Craga89/qTip2/issues/367 */
/* line 282, ../sass/public.scss */
x:-o-prefocus, .qtip .qtip-tip {
  visibility: hidden;
}

/* line 286, ../sass/public.scss */
.qtip .qtip-tip,
.qtip .qtip-tip .qtip-vml,
.qtip .qtip-tip canvas {
  position: absolute;
  color: #123456;
  background: transparent;
  border: 0 dashed transparent;
}

/* line 295, ../sass/public.scss */
.qtip .qtip-tip canvas {
  top: 0;
  left: 0;
}

/* line 297, ../sass/public.scss */
.qtip .qtip-tip .qtip-vml {
  behavior: url(#default#VML);
  display: inline-block;
  visibility: visible;
}

/* line 303, ../sass/public.scss */
.qtip-titlebar {
  position: relative;
  padding: 0;
  overflow: hidden;
  border-width: 0;
}

/* line 311, ../sass/public.scss */
.qtip-close {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 11;
  /* Overlap .qtip-tip */
  cursor: pointer;
  outline: medium none;
  border: 1px solid transparent;
}

/* line 322, ../sass/public.scss */
.qtip-titlebar .qtip-close {
  right: 4px;
  top: 50%;
  margin-top: -9px;
}

/* line 327, ../sass/public.scss */
* html .qtip-titlebar .qtip-close {
  top: 16px;
}

/* IE fix */
/* line 329, ../sass/public.scss */
.qtip-titlebar .ui-icon,
.qtip-icon .ui-icon {
  display: block;
  text-indent: -1000em;
  direction: ltr;
}

/* line 336, ../sass/public.scss */
.qtip-icon, .qtip-icon .ui-icon {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}

/* line 343, ../sass/public.scss */
.qtip-icon .ui-icon {
  width: 18px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  text-indent: 0;
  font: normal bold 16px/16px Tahoma,sans-serif;
  color: white;
  background: transparent none no-repeat -100em -100em;
}
